In [1]:
import pandas as pd

In [4]:
test_homes = pd.read_csv(r"C:\Users\luisp\Downloads\ml-challenge-2023-30412\test.csv")

In [5]:
test_homes.describe()

,id,construction_year,latitude,longitude,energy_efficiency,expenses,floor,n_bathrooms,elevator,total_floors,n_rooms,proximity_to_center,surface
count,19848.000000,13869.000000,19838.000000,19838.000000,1.125500e+04,12856.000000,18970.000000,18895.000000,12367.000000,11889.000000,19706.000000,19838.000000,19684.000000
mean,33356.569025,1957.816497,43.562827,11.432414,5.113531e+02,232.241910,2.003057,1.549881,0.951969,4.594331,3.276921,0.994844,115.119336
std,19116.819282,73.646999,1.791484,1.509439,1.557145e+04,5578.110644,2.162464,0.758451,0.213841,4.836287,1.328734,0.029663,89.535206
min,2.000000,1005.000000,41.708118,9.061496,1.000000e-02,0.000000,-5.000000,1.000000,0.000000,1.000000,1.000000,0.590114,0.000000
25%,16752.250000,1950.000000,41.883400,9.219251,1.516650e+02,40.000000,1.000000,1.000000,1.000000,3.000000,2.000000,1.000000,66.000000
50%,33438.000000,1967.000000,41.971381,12.358895,1.750000e+02,80.000000,2.000000,1.000000,1.000000,4.000000,3.000000,1.000000,90.000000
75%,49917.250000,1989.000000,45.466711,12.486512,1.750000e+02,150.000000,3.000000,2.000000,1.000000,6.000000,4.000000,1.000000,130.000000
max,66154.000000,2066.000000,45.546407,12.787200,1.220940e+06,500000.000000,21.000000,9.000000,1.000000,466.000000,9.000000,1.000000,990.000000